{% extends "user/base.html" %}
{% block content %}
<style>
.card-hover:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}
.badge-type {
    text-transform: uppercase;
    font-size: 0.75rem;
}
</style>
<div class="container mt-5">
  <h3 class="mb-3">🎯 Explorer par catégories</h3>
  <div class="d-flex flex-wrap gap-2">
    <a href="{% url 'ressource:recherche_ressource' %}?q=cours" class="btn btn-outline-secondary">📘 Cours</a>
    <a href="{% url 'ressource:recherche_ressource' %}?q=sujet" class="btn btn-outline-secondary">📝 Sujets</a>
    <a href="{% url 'ressource:recherche_ressource' %}?q=livre" class="btn btn-outline-secondary">🎬 Livres</a>
    <a href="{% url 'ressource:recherche_ressource' %}?q=correction" class="btn btn-outline-secondary">🖼️ Correction</a>
  </div>
</div>


<div class="container mt-5">
    <h2 class="mb-4 text-center text-primary"><strong>Toutes les ressources sont aux totales : <em>{{ressources.count}}</em></strong></h2></br>

    {% if ressources %}
        <div class="row g-4">
            {% for r in ressources %}
                <div class="col-md-6 col-lg-4">
                    <div class="card shadow-sm card-hover h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ r.titre }}</h5>
                            <p class="mb-1">
                                <span class="badge bg-info badge-type "style="color:red;">{{ r.type }}</span>
                            </p>
                            <p class="card-text text-muted mb-2">
                                Ajouté le {{ r.date_ajout|date:"d/m/Y H:i" }}
                            </p>
                            <h5 class="card-title">Par :
                                <a href="{% url 'utilisateur:profil_utilisateur' r.proprietaire.id %}" class="fw-bold text-decoration-none">
                                👤 {{ r.proprietaire.username }}
                                </a>
                            </h5>
                            <a href="{{ r.fichier.url }}" class="btn btn-primary mt-auto" download>
                                <i class="fas fa-download"></i> Télécharger
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center text-muted">Vous n'avez encore partagé aucune ressource.</p>
    {% endif %}

</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}
