<h1>Recherche de ressource</h1>

<form method="get">
    <input type="text" name="q" placeholder="rechercher un ressource" value="{{ query }}">
    <button type="submit">Rechercher</button>
</form>

{% if ressources %}
    <ul>
    {% for ressource in ressources %}
        <li>
            <a href="{% url 'utilisateur:profil_utilisateur' ressource.proprietaire.id %}">
                {{ ressource.proprietaire.username }}
            </a>
            {% if ressource.titre %}
                ({{ ressource.titre }} - {{ ressource.type }} - {{ ressource.proprietaire.username }})
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% elif query %}
    <p>Aucune ressource trouvée pour "{{ query }}"</p>
{% endif %}


<a href="{% url 'utilisateur:profil' %}" class="btn btn-secondary">👤 Retourner au profil</a>