{% extends "user/base.html" %}
{% block title %}Recherche de ressource | Biblioshare{% endblock %}
{% block content %}

<div class="container my-5">
  <h1 class="text-center mb-4">🔍 Recherche de ressource</h1>

  <form method="get" class="d-flex justify-content-center mb-4">
    <input type="text" name="q" class="form-control w-50 me-2" placeholder="Rechercher une ressource ou un utilisateur..." value="{{ query }}">
    <button type="submit" class="btn btn-primary">Rechercher</button>
  </form>


  {% if ressources %}
    <ul class="list-group">
      {% for ressource in ressources %}
        <li class="list-group-item d-flex justify-content-between align-items-center shadow-sm">
          <div>
            
            <a href="{% url 'utilisateur:profil_utilisateur' ressource.proprietaire.id %}" class="fw-bold text-decoration-none">
              👤 {{ ressource.proprietaire.username }}
            </a>
            <p class="mb-1">
              📘 <strong>{{ ressource.titre }}</strong> <br>
              🗂️ Type : {{ ressource.type }}
            </p>
            
          </div>
         
          <a href="{{ ressource.fichier.url }}" class="btn btn-outline-primary">📥 Télécharger</a>
        </li>
      {% endfor %}
    </ul>
  {% elif query %}
    <p class="text-center text-muted mt-4">Aucune ressource trouvée pour <strong>"{{ query }}"</strong>.</p>
  {% endif %}
</div>

{% endblock %}
