<!-- templates/aide.html -->
{% extends "user/base.html" %}
{% block title %}Aide | Biblioshare{% endblock %}
{% block content %}
<div class="card shadow p-4">
  <h2 class="mb-4">Besoin d’aide ?</h2>

  <h4>📖 Guide d’utilisation</h4>
  <p>Vous pouvez chercher des ressources via la barre de recherche ou parcourir la liste complète.</p>

  <h4 class="mt-4">❓ FAQ</h4>
</br>
  <ul>
    <li><strong>Comment trouver une ressource ?</strong> → Allez dans “Accueil” et rechercher votre ressources.</li>
    <li><strong>Comment modifier mon profil ?</strong> → Dans la page profil, cliquez sur “Modifier” puis soumettre.</li>
    <li><strong>Comment changer mon mot de passe ?</strong> → Dans la section profil, onglet “Changer mot de passe”.</li>
    <li><strong>Comment uploader une ressource ?</strong> → Allez dans “Profil” et remplissez le formulaire.</li>
    <li><strong>Comment voir les ressources que j' ai uploader ?</strong> → Dans la page profil, cliquez sur “voir mes ressources partagées”.</li>
    <li><strong>Comment voir la liste de toutes les ressources partagées?</strong> → Dans la section "Ressource", tu peux alors voir la lites des ressources et des propriétaires.</li>
  </ul>

  <h4 class="mt-4">📩 Contact</h4>
  <p>Pour toute question, contactez-nous à : <a href="mailto:support@biblioshare.com">ryanavotra@gmail.com</a></p>
</div>
{% endblock %}
